
            <div id="content">
                <ol>
                    <% @data['rows'].each do |wokka| %>
                    <li id="<%=wokka['value']['_id']%>" class="<%=wokka['value']['done']%>" title="<%=wokka['value']['_rev']%>" ><%=wokka['value']['task']%></li>
                    <% end %>
                </ol>
                
            </div>
